body {
  /*Valores por defecto para testear y no bugear la animacion*/
  margin: 0;
  padding: 0;
  transform-origin: top left;
  transform: scale(1);
  min-height: 100vh;
  background-color: #0d1117;
}
::-webkit-scrollbar {
  /*Quitar la barrita de lateral de navegacion*/
  display: none;
}
.bubbles {
  /* Burbujas del fondo*/
  position: relative;
  display: flex;
  bottom: -25vh;
}
.bubbles span {
  /*El monton de burbujas*/
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(200s / var(--i));
}
.bubbles span:nth-child(even) {
  /*aplica estilos específicos a todos los elementos <span> que son hijos pares de bubble*/
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
  z-index: -1;
}
@keyframes animate {
  /*Animacion de las burbujas*/
  0% {
    transform: translateY(10vh) scale(0);
  }
  100% {
    transform: translateY(-200vh) scale(1);
  }
}

@font-face {
  /*Fuente importada de archivo */
  font-family: "CustomFont";
  src: url("HelveticaCE.woff2");
}
* {
  /*Aplicamos la fuente a todo*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CustomFont;
  color: white;
}

#flag {
  /*El icono del mando del header*/
  position: absolute;
  left: 100px;
  top: 0%;
  height: 100px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* Juntamos todo, y lo cambiamos a negro */
}

header {
  /* Menu del header*/
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(1, 4, 9, 1)
  ); /*Crea el efecto de transparecia con el 0 y el 1 finales :) descubierto al dedillo */
  text-align: center;
  justify-content: center;
  align-items: center;
}
header li {
  /*li dentro de links dentro de header*/
  display: inline-block; /*Pa' que se alinean*/
  font-size: 20px;
  margin: 0 10px;
  text-align: center; /* Para centrar horizontalmente */
  line-height: 78px; /* Para centrar verticalmente */
}

/*De aqui para abajo es el footer */
#flagFooter {
  height: 10vh;
  max-height: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
}

footer p,
footer a {
  margin: 0 20px;
  padding: 0;
}

footer a {
  display: flex;
  align-items: center;
}

/* Ids de los botones en si */

.botonModificar {
  background-color: #a7b300;
  color: white; /* Color de texto blanco */
  border: none; /* Elimina el borde predeterminado */
  padding: 8px 16px;
  cursor: pointer; /* Aparece el puntero del ratón al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados para los botones */
}

.botonEliminar {
  background-color: #ff0000;
  color: white; /* Color de texto blanco */
  border: none; /* Elimina el borde predeterminado */
  padding: 8px 16px;
  cursor: pointer; /* Aparece el puntero del ratón al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados para los botones */
}

.botonEliminar:hover {
  background-color: #630000;
}

.botonModificar:hover {
  background-color: #6e7600;
}

#botonCrearJuego {
  width: 75%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#botonCerrarSesion {
  width: 75%;
  padding: 10px;
  background-color: #c31313;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Divs de los botones */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh; /* Esto hará que el contenedor ocupe toda la altura de la ventana */
}

.parent {
  /*Div de los botones de crear y cerrar sesion*/
  width: 25%;
  display: flex;
  flex-direction: row; /* Esto apilará los botones verticalmente */
  gap: 10px; /* Espacio entre los botones */
}

button {
  padding: 10px 20px; /* Ajusta según sea necesario */
  font-size: 16px;
}

button a {
  color: inherit; /* Mantener el color del botón */
  text-decoration: none; /* Quitar el subrayado del enlace */
}

/* Div de tus datos */

#tusDatos {
  padding-top: 25px;
  text-align: center;
}

/*Boton del pop-up*/
#popupButton {
  color: black;
}

.blurred {
  /*Para mostrar o no la contraseña del usuario*/
  filter: blur(8px);
}

#botonMostrarContra {
  /*CSS para el boton de mostrar o no la contraseña para la parte del usuario de juegos*/
  width: 20%;
  min-width: 25%;
  padding: 10px;
  background-color: #3a3c40;
  color: white;
  min-height: 45px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ### De aqui para abajo esta el CSS de la tabla ### */

/* Centrar la tabla */
#juegos {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Estilos para la tabla */
#miTabla {
  width: 80%; /* Ajusta el ancho de la tabla */
  border-collapse: collapse; /* Eliminar el espacio entre los bordes de las celdas */
  background-color: transparent;
  font-size: 20px;
}

/* Estilos para las celdas de la tabla */
#miTabla th,
#miTabla td {
  padding: 12px 15px;
  text-align: center; /* Centra el contenido en las celdas */
  border: 1px solid #dcdcdc57; /* Bordes finos de color pastel */
}

/* Fondo de las cabeceras */
#miTabla th {
  background-color: #4f95d63f; /* Color de fondo suave para las cabeceras */
}

#miTabla th:last-child {
  /* Elimina el borde superior */
  border-top: none;
  background-color: transparent;
}

/* Estilo para las filas alternas */
#miTabla tr:nth-child(even) {
  background-color: #6666664d; /* Fondo alterno suave para las filas */
}

/* Estilo para las filas impares */
#miTabla tr:nth-child(odd) {
  background-color: #5555555c; /* Fondo alterno suave para las filas */
}
