{% extends "templateConBurbujas.html" %}

{% block title %}Tus juegos{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/juegos.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>Hola 👋{{usuario.nombre}}, estos son tus juegos:</h1>

    <div class="center">
        <button id="botonCrearJuego">Crear juego <img src="{{ url_for('static', filename='img/add.png') }}"
                alt="addIcon" id="addIcon"> </button>
    </div>

    <div id="juegos">
        <table border="1" id="miTabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    {% if usuario.admin %}
                    <th>Usuario ID</th>
                    {% endif %}
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                <tr>
                    <td>{{ juego.id }}</td>
                    <td>{{ juego.nombre }}</td>
                    <td>{{ juego.precio }}</td>
                    <td>{{ juego.descripcion }}</td>
                    {% if usuario.admin %}
                    <td>{{ juego.usuario_id }}</td>
                    {% endif %}
                    <td>
                        <button class="botonModificar">Modificar juego
                            <img src="{{ url_for('static', filename='img/modify.png') }}" alt="modifyIcon"
                                id="modifyIcon">
                        </button>
                    </td>
                    <td>

                        <!-- <div style="height: 5px;"></div> -->
                        <button class="botonEliminar">Eliminar juego
                            <img src="{{ url_for('static', filename='img/delete.png') }}" alt="eliminateIcon"
                                id="modifyIcon">
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <section id="clicATusDatos">
        <div id="tusDatos">
            <h2>Informacion de tu cuenta:</h2>
            <p>Nombre: {{usuario.nombre}}</p>
            <p>ID: <span id="usuarioId">{{usuario.id}}</span></p>
            <p>correo: {{usuario.correo}}</p>
            <p>Cuenta admin:
                {% if usuario.admin %}
                <span id="adminBool">Si</span>
                {% else %}
                <span id="adminBool">No</span>
                {% endif %}
            </p>
            <br>
            <button id="botonMostrarContra" onclick="mostrarContra()">Mostrar contraseña</button>
            <br> <br>
            <p id="mostrarContra" class="blurred">{{usuario.contrasena}}</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/juegos.js') }}"></script>
</main>
{% endblock %}