{% extends "templateConBurbujas.html" %}

{% block title %}Juegos{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/juegos.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>Hola 👋{{usuario.nombre}}, estos son tus juegos:</h1>

    <div class="center">
        <div class="parent">
            <button id="botonCrearJuego">Crear juego +</button>
            <button id="botonCerrarSesion" onclick="window.location.href='/logout'">Cerrar sesión</button>
        </div>
    </div>

    <div id="juegos">
        <table border="1" id="miTabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>ID de usuario</th>
                    <th colspan="2">&NonBreakingSpace;</th>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                <tr>
                    <td>{{ juego.id }}</td>
                    <td>{{ juego.nombre }}</td>
                    <td>{{ juego.precio }}</td>
                    <td>{{ juego.descripcion }}</td>
                    <td>
                        {% if usuario.admin %}
                        {{ juego.usuario_id }}
                        {% else %}

                        {% endif %}
                    </td>
                    <td>
                        <button class="botonModificar">Modificar juego</button>
                    </td>
                    <td>
                        <button class="botonEliminar">Eliminar juego</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <section id="clicATusDatos">
        <div id="tusDatos">
            <h2>Informacion de tu cuenta:</h2>
            <p>Nombre: {{usuario.nombre}}</p>
            <p>ID: <span id="usuarioId">{{usuario.id}}</span></p>
            <p>correo: {{usuario.correo}}</p>
            <p>Cuenta admin:
                {% if usuario.admin %}
                Si
                {% else %}
                No
                {% endif %}</p>
            <br>
            <button id="botonMostrarContra" onclick="mostrarContra()">Mostrar contraseña</button>
            <br> <br>
            <p id="mostrarContra" class="blurred">{{usuario.contrasena}}</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/juegos.js') }}"></script>
</main>
{% endblock %}