{% extends "template.html" %}

{% block title %}Inicio de sesion{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<main>
    <div class="parent">
        <div class="div1">
            <div class="containerF">
                <h1>Area de admin</h1>
                <form onsubmit="agarrarDatos(); return false;"> <!--He puesto sumbit porque POST me daba error-->
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="name">Contraseña:</label>
                    <input type="password" id="passAdmin" name="password" required>
                    <div id="welcomeDiv2" style="display:none;" class="answer_list">
                        <!-- Quiero que cuando le des a la contraseña de empleado o admin este cartel ↓↓↓ se muestre dependiendo del lado al que le diste clic-->
                        <input type="checkbox" onclick="myFunction()">Mostrar contraseña
                    </div>
                    <br>
                    <br>
                    <input type="submit" />
                </form>
            </div>
        </div>
        <div class="div2">
            <div class="containerF">
                <h1>Area de empleo</h1>
                <form onsubmit="agarrarDatos(); return false;"> <!--He puesto sumbit porque POST me daba error-->
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="name">Contraseña:</label>
                    <input type="password" id="passEmpleado" name="password" onclick="myFunction2()"
                        onfocusout="myFunction3()" required>
                    <div id="welcomeDiv" style="display:none;" class="answer_list">
                        <!-- Quiero que cuando le des a la contraseña de empleado o admin este cartel ↓↓↓ se muestre dependiendo del lado al que le diste clic-->
                        <input type="checkbox" onclick="myFunction()">Mostrar contraseña
                    </div>
                    <br>
                    <br>
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
    <div class="div3">
        <div class="bubbles">
            <span style="--i:12;"></span><span style="--i:24;"></span><span style="--i:10;"></span>
            <span style="--i:14;"></span><span style="--i:23;"></span><span style="--i:18;"></span>
            <span style="--i:16;"></span><span style="--i:19;"></span><span style="--i:20;"></span>
            <span style="--i:22;"></span><span style="--i:25;"></span><span style="--i:18;"></span>
            <span style="--i:21;"></span><span style="--i:15;"></span><span style="--i:13;"></span>
            <span style="--i:26;"></span><span style="--i:17;"></span><span style="--i:13;"></span>
            <span style="--i:28;"></span><span style="--i:11;"></span><span style="--i:12;"></span>
            <span style="--i:24;"></span><span style="--i:10;"></span><span style="--i:14;"></span>
            <span style="--i:23;"></span>
        </div>
    </div>
    <div class="container">
        <div class="bubbles">
            <span style="--i:12;"></span><span style="--i:24;"></span><span style="--i:10;"></span>
            <span style="--i:14;"></span><span style="--i:23;"></span><span style="--i:18;"></span>
            <span style="--i:16;"></span><span style="--i:19;"></span><span style="--i:20;"></span>
            <span style="--i:22;"></span><span style="--i:25;"></span><span style="--i:18;"></span>
            <span style="--i:21;"></span><span style="--i:15;"></span><span style="--i:13;"></span>
            <span style="--i:26;"></span><span style="--i:17;"></span><span style="--i:13;"></span>
            <span style="--i:28;"></span><span style="--i:11;"></span><span style="--i:12;"></span>
            <span style="--i:24;"></span><span style="--i:10;"></span><span style="--i:14;"></span>
            <span style="--i:23;"></span>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</main>
{% endblock %}