{% extends "template.html" %}

{% block title %}Inicio de sesion{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<main>
    <div class="parent">
        <div class="div1">
            <div class="containerF">
                <h1>Area de admin</h1>
                <form method="post">
                    <!-- AREA DE ADMIN -->
                    <input type="hidden" name="role" value="admin"> 
                    <label for="email">Correo electronico:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="contraAdmin">Contraseña:</label>
                    <input type="password" id="passAdmin" name="password" onclick="botonMostrarContra('admin')"
                        required>
                    <div id="divBotonMostrarAdmin" style="display:none;" class="answer_list">
                        <input type="checkbox" onclick="mostrarContra('admin')">Mostrar contraseña
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Entrar" />
                </form>
            </div>
        </div>
        <div class="div2">
            <div class="containerF">
                <h1>Area de usuario</h1>
                <form  method="post">
                    <!-- AREA DE USUARIO -->
                    <input type="hidden" name="role" value="user"> 
                    <label for="email">Correo electronico:</label>
                    <input type="email" id="emailEmpleado" name="email" required>

                    <label for="contra">Contraseña:</label>
                    <input type="password" id="passEmpleado" name="password" onclick="botonMostrarContra('empleado')"
                        required>
                    <div id="divBotonMostrarEmpleado" style="display:none;" class="answer_list">
                        <input type="checkbox" onclick="mostrarContra('empleado')">Mostrar contraseña
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Entrar" />
                </form>
            </div>
        </div>
    </div>
    <div class="divCrear">
        <div class="vertical-center">
            <button type="button" onclick="window.location.href='/registrate';" id="enviar">¿No tienes
                cuenta? Registrate</button>
        </div>
    </div>
    <div class="div3">
        <div class="bubbles">
            <span style="--i:12;"></span><span style="--i:24;"></span><span style="--i:10;"></span>
            <span style="--i:14;"></span><span style="--i:23;"></span><span style="--i:18;"></span>
            <span style="--i:16;"></span><span style="--i:19;"></span><span style="--i:20;"></span>
            <span style="--i:22;"></span><span style="--i:25;"></span><span style="--i:18;"></span>
            <span style="--i:21;"></span><span style="--i:15;"></span><span style="--i:13;"></span>
            <span style="--i:26;"></span><span style="--i:17;"></span><span style="--i:13;"></span>
            <span style="--i:28;"></span><span style="--i:11;"></span><span style="--i:12;"></span>
            <span style="--i:24;"></span><span style="--i:10;"></span><span style="--i:14;"></span>
            <span style="--i:23;"></span>
        </div>
    </div>
    <div class="container">
        <div class="bubbles">
            <span style="--i:12;"></span><span style="--i:24;"></span><span style="--i:10;"></span>
            <span style="--i:14;"></span><span style="--i:23;"></span><span style="--i:18;"></span>
            <span style="--i:16;"></span><span style="--i:19;"></span><span style="--i:20;"></span>
            <span style="--i:22;"></span><span style="--i:25;"></span><span style="--i:18;"></span>
            <span style="--i:21;"></span><span style="--i:15;"></span><span style="--i:13;"></span>
            <span style="--i:26;"></span><span style="--i:17;"></span><span style="--i:13;"></span>
            <span style="--i:28;"></span><span style="--i:11;"></span><span style="--i:12;"></span>
            <span style="--i:24;"></span><span style="--i:10;"></span><span style="--i:14;"></span>
            <span style="--i:23;"></span>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</main>
{% endblock %}