{% extends "template.html" %}

{% block title %}Juegos{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrate.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="divCrear">
        <p style="text-align: center;"></p>
        <h1>Registrarte</h1>
        <form onsubmit="agarrarDatos('admin'); return false;">
            <!-- Crear cuenta  -->
            <label for="email">Email:</label>
            <input type="email" id="emailEmpleado" name="email" required>

            <label for="contra">Contraseña:</label>
            <input type="password" id="passCrear" name="password" onclick="botonMostrarContra('empleado')" required>
            <label for="contra">Confirmar contraseña:</label>
            <input type="password" id="passCrearConfirmar" name="password" onclick="botonMostrarContra('empleado')"
                required>
            <div id="divBotonMostrarEmpleado" style="display:none;" class="answer_list">
                <input type="checkbox" onclick="mostrarContra('empleado')">Mostrar contraseña
            </div>
            <br>
            <br>
            <input type="submit" />
        </form>
    </div>
    <div class="bubbles">
        <span style="--i:12;"></span><span style="--i:24;"></span><span style="--i:10;"></span>
        <span style="--i:14;"></span><span style="--i:23;"></span><span style="--i:18;"></span>
        <span style="--i:16;"></span><span style="--i:19;"></span><span style="--i:20;"></span>
        <span style="--i:22;"></span><span style="--i:25;"></span><span style="--i:18;"></span>
        <span style="--i:21;"></span><span style="--i:15;"></span><span style="--i:13;"></span>
        <span style="--i:26;"></span><span style="--i:17;"></span><span style="--i:13;"></span>
        <span style="--i:28;"></span><span style="--i:11;"></span><span style="--i:12;"></span>
        <span style="--i:24;"></span><span style="--i:10;"></span><span style="--i:14;"></span>
        <span style="--i:23;"></span>
    </div>
    <script src="{{ url_for('static', filename='js/scriptRegistrar.js') }}"></script>
</main>
{% endblock %}