{% extends "templateConBurbujas.html" %}

{% block title %}Juegos{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrate.css') }}">
<script src="{{ url_for('static', filename='js/scriptRegistrar.js') }}"></script>

{% endblock %}

{% block content %}
<main>

    <div class="divCrear">
        <p style="text-align: center;"></p>
        <h1>Registrate</h1>
        <form onsubmit="crearUsuario(); return false;">
            <!-- Crear cuenta  -->
            <label for="usuarioCrear">Nombre de usuario:</label>
            <input type="text" id="usuarioCrear" name="name" required>

            <label for="emailCrear">Correo electronico:</label>
            <input type="email" id="emailCrear" name="email" required>


            <label for="passCrear">Contraseña:</label>
            <input type="password" id="passCrear" name="password" onclick="botonMostrarContra()" required>

            <label for="passCrearConfirmar">Confirmar contraseña:</label>
            <input type="password" id="passCrearConfirmar" name="password" onclick="botonMostrarContra()" required>

            <div id="divBotonMostrar" style="display:none;" class="answer_list">
                <input type="checkbox" onclick="mostrarContra()">Mostrar contraseña
            </div>

            <div class="switch-container">
                <p id="seleccionCuenta">Usuario</p>
                &nbsp;
                <label class="switch">
                    <input type="checkbox" onclick="cambiarCuenta()">
                    <span class="slider round"></span>
                </label>
            </div>

            <input type="submit" value="Registrar" />
        </form>
    </div>
</main>
{% endblock %}