{% extends "templateConBurbujas.html" %}

{% block title %}Juegos{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrate.css') }}">
<script src="{{ url_for('static', filename='js/scriptRegistrar.js') }}"></script>

{% endblock %}

{% block content %}
<main>

    <div class="divCrear">
        <p style="text-align: center;"></p>
        <h1>Registrate</h1>
        <form>
            <!-- Crear cuenta  -->
            <label for="name">Nombre de usuario:</label>
            <input type="text" id="usuarioCrear" name="name" required>

            <label for="email">Correo electronico:</label>
            <input type="email" id="emailCrear" name="email" required>

            <label for="contra">Contraseña:</label>
            <input type="password" id="passCrear" name="password" onclick="botonMostrarContra()" required>

            <label for="contra">Confirmar contraseña:</label>
            <input type="password" id="passCrearConfirmar" name="password" onclick="botonMostrarContra()" required>

            <div id="divBotonMostrar" style="display:none;" class="answer_list">
                <input type="checkbox" onclick="mostrarContra()">Mostrar contraseña
            </div>
            <br>
            <br>
            <!-- Comprobar que se ha intruducido bien el correo -->
            <!-- Comprobar que el correo no esta siendo ya usado -->
            <!-- cambiar empleado por usuario -->
            <!-- añadir un tick, que sea para usuario o admin -->
            <!-- cuando cree un un usuario, que me rediriga a una pagina de "Todo ok" -->
            <button id="enviar" type="button" onclick="crearUsuario()">Registrar</button>
        </form>
    </div>
</main>
{% endblock %}